<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEtail <%=article.title %></title>
    <%- include('../partials/header'); %>
</head>
<body>
    <%- include('../partials/navbar'); %>

    <div>
        <h1><%= article.title%></h1>
        <p><%= article.body%></p>
        <p><%= article.approved%></p>
    </div>

    <%- include('../partials/footer'); %>
</body>
</html>