<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%articles.forEach (idx => { %>
        <div>
            <h1><%= idx.title %></h1>
            <p><%= idx.body %></p>
            <a href="/articles/<%= idx.id%>">Baca Lebih lanjut</a>
        </div>
    <% }) %>

</body>
</html>